/* Стандарт */
body{
  margin: 0;
  /*padding: 0;*/
    color: white;
    background-color: #181818;

    /*font-family: 'masson';*/
    font-family: 'monster';

}
body p{
  font-size: 18px;
}
.header{
  z-index: 1;
  width: 100vw;
  /*height: 100vh;*/
  overflow: hidden;
}
/*Первая секция*/
.intro{
  position: relative;
  
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  /*width: 100vw;*/
  /*height: 100vh;*/
  

}
.intro__media{
  margin: 0;
  padding:0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.intro:after{
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.intro__content{
  margin-left: 20px;
  position: absolute;
  top: 1;
  left: 5;
  z-index: 3;
}

.offer__button{
    margin-top: 20px;
    /*width: 310px;*/
    width: 16vw;
    height: 50px;
    background-color: #B33939;
    font-size: 16px;

    color: white;
    font-family: 'masson';
    letter-spacing: 5px;
    border-radius: 5px;
    border: none;
}
/* первая секция */

.content{
  /*z-index: 2;*/
  margin-top: 50px;
  /*border-bottom: 2px solid white;*/
}
.card{
  max-width: 30vw;
  /*max-height: 40vh;*/
  background: rgba(61, 61, 61, 0);
  border: none;
  overflow: hidden;
  /*text-align: center;*/
}
.card img{
  width: 100%;
  transition: 1s;
}
.card a{
  overflow: hidden;
}
.card img:hover{
  transition: 1s;

  transform: scale(1.2);
}
.card{
  margin-top: 50px;
}