/*Стандарты*/
body{
    color: white;
    background-color: #303030;

    /*font-family: 'masson';*/
    font-family: 'monster';

}
ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
p{
    font-size: 18px;
}


.menu{
    z-index: 1;
    position: fixed;
    top: 0;
    /*left: 0;*/
    right: 0;

    margin-top: 2vh;
    margin-right: 2vw;
}
.menu__item{

    margin: 0 15px;
    /*margin-top: 2vh;*/

}
.menu__item a{
    font-size: 18px;
    /*display: inline-block;*/
    background-position: center bottom;
    color: white;
    font-weight: 300;
    text-decoration: none;
    transition: 0.5s;
}
.menu__item a:hover{
    transition: 0.5s;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
    color: white;
}
.menu__logout{

  border: none;
  background: rgba(61, 61, 61, 0);
  font-size: 18px;
    /*display: inline-block;*/
    background-position: center bottom;
    color: white;
    font-weight: 300;
    text-decoration: none;
    transition: 0.5s;
}
.menu__logout:hover{
    transition: 0.5s;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
    color: white;
}
/*Вторая секция, описание*/

