body{
    background-color: #1B1C1E;
}
.navbar-main{
    /* width: 100%; */
    height: 60px;
    background-color: black;
}
/* Навгация */
.nav{
    margin-top: 10px;
}
.navbar-brand{
    margin-top: -10px;
}
.nav-link{
   
    color: white;
    text-decoration: none;
    transition:all 0.3s ease-out;
   
}
.nav-link:hover{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    transition:0.5s ease-in-out;
    letter-spacing: 1px;
        
   
}
label{
    color: white;
}

/* Главная страница */
