/*Стандарты*/
body{
    color: white;
    background-color: #3D3D3D;

    /*font-family: 'masson';*/
    font-family: 'monster';

}
ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
p{
    font-size: 18px;
}
/*Первая секция*/
.header{
    height: 100vh; 
    color: white;
    
    background-image: url(/web/uploads/back1.png);
    background-attachment: fixed;
    /*opacity: 0.5;*/
    /*font-family: 'masson';*/
    
    background-repeat: no-repeat;
    z-index: 1;
}
.header__image{
    height: 100vh; 
    background: rgba(61, 61, 61, 0.8);
    /*filter: alpha(Opacity=70); /* Прозрачность в IE */*/
    background-blend-mode: color-dodge;
}

.menu{
    margin-top: 2vh;
}
.menu__item{

    margin: 0 15px;
    /*margin-top: 2vh;*/

}
.menu__item a{
    font-size: 18px;
    /*display: inline-block;*/
    background-position: center bottom;
    color: white;
    font-weight: 300;
    text-decoration: none;
    transition: 0.5s;
}
.menu__item a:hover{
    transition: 0.5s;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
    color: white;
}
/*Вторая секция, описание*/
.offer{
    width: 30vw;
    margin-left: 2vw;
    margin-top: 27vh;
}

.offer__intro{
    width: 27vw;
}
.role{
    margin-top: 3em;
}
.offer__button{
    margin-top: 20px;
    /*width: 310px;*/
    width: 16vw;
    height: 50px;
    background-color: #B33939;
    font-size: 16px;

    color: white;
    font-family: 'masson';
    letter-spacing: 5px;
    border-radius: 5px;
    border: none;
}
